/*Ideias retiradas do curso Como fazer um menu em HTML e CSS usando Flex-Grow do site DEVMEDIA*/
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');
/*font-family: 'Baloo Tamma 2', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
/*font-family: 'Open Sans', sans-serif;*/

body{
    font-family: 'Baloo Tamma 2', cursive;
    color: #0206f8;
    background-color: rgba(200, 200, 168, 0.815);  
}

ul {
    padding: 0;
    margin: 0;
}

.container {
    width: 900px;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.item {
    flex-grow: 1;
    background-position: center;
    background-size: cover;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    position: relative;
    list-style: none;
    transition: all .7s ease-in-out;
}

.item:hover {
    flex-grow: 10;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.item a {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.text {
    font-size: 0;
    font-weight: bold;
    text-transform: uppercase;
    color: #0206f8;
    text-decoration: none;
    transition: all .5s ease-in-out;
}

.item:hover .text {
    font-size: 50px;
    text-shadow: 2px 2px 12px black;
    text-align: center;
}

.primeiro {
    background-image: url(../img/renato01.png);
}

.segundo {
    background-image: url(../img/renato02.png);
}

.terceiro {
    background-image: url(../img/renato03.png);
}

.quarto {
    background-image: url(../img/renato04.png);
}
.quinto {
    background-image: url(../img/renato05.png);
}
.sexto {
    background-image: url(../img/renato06.png);
}

@media screen and (max-width: 768px) {

    .container {
        flex-direction: column;
    }

    .text {
        font-size: 16px;
    }

}